name: build-omni_target

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - 'target/omni_target'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
          ref: ${{ github.sha }}
      - uses: ./.github/actions/build-target
        with:
          target: omni_target
          build_type: ${{ env.BUILD_TYPE }}

